body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: #5fac5f;
  text-shadow: 2px 2px 4px #333;
  margin: 20px 0;
  font-family: 'Montserrat', sans-serif;
}

#loading {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #111108;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #F5F5DC;
}

#logo-container {
  text-align: center;
}

#logo-container img {
  width: 100px;
}
header h1 {
  margin: 0;
}

header button {
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

main {
  display: flex;
  justify-content: space-between;
}

section {
  display: none;
}

section ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section li {
  width: 30%;
  padding: 20px;
}

section img {
  width: 100%;
  border-radius: 35%;
  transition: transform 0.2s;
}

section img:hover {
  transform: scale(1.1);
}

section h2 {
  margin: 0;
}

#slideshow-container {
  position: relative;
  width: 100%;
  height: 400px;
}

.slideshow-image {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.slideshow-image img {
  width: 100%;
  height: 100%;
  
}

#order-form {
  background-color: #F0E68C;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#order-confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2fb5c7;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

#order-form table {
  width: 100%;
  border-collapse: collapse;
}


footer {
  background-color: #F5F5DC;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#close-form {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}